<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
    <h1>Create User</h1>
    <form method="post" th:object="${user}" th:action="@{createuser}">

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" th:field="*{username}" required />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" th:field="*{password}" required />
        </div>
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" id="firstname" th:field="*{firstName}" required />
        </div>
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" id="lastname" th:field="*{lastName}" required />
        </div>
        <div class="form-group">
            <input type="submit" value="Create User" class="btn btn-primary">
        </div>
    </form>
    <a href="/users" class="btn btn-secondary">Back to users</a>
</div>
</body>
</html>
