<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/index">ProjectControl</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Users">Users</a>
            </li>
        </ul>
        <a th:href="@{/logout}" class="logout-link">Logout</a>
    </nav>
</header>


<main class="container mt-5">
    <h1>Users</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td>
                <a class="btn btn-success" th:href="@{'/Users/viewUser/' + ${user.id}}">View</a>
                <a class="btn btn-primary" th:href="@{'/Users/edit/' + ${user.id}}">Edit</a>
                <a class="btn btn-danger" th:href="@{'/Users/delete/' + ${user.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/logout}" class="btn btn-primary">Logout</a>
</main>

<footer class="text-center mt-5">
    &copy; 2023 Jami Juhola
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
